@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'YugoBold';
  src: url(./assets/fonts/yugothib.ttf);
}

/* MAIN */
body {
  margin: 0;
  font-family: 'YugoBold', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-touch-callout: none;  
  -webkit-user-select: none;
  user-select: none;
}